---
import Main from "../../layouts/Main.astro";
import { createJwt, getAccessToken, getUserInfo } from "../../util/auth";
import { ssoState } from "../../data/stores";

let loginError = null;
let jwt = null;

const searchParams = new URL(Astro.request.url).searchParams;
const code = searchParams.get("code");
if (!code) {
  loginError = 'missing "code" parameter in URL';
}
const urlState = searchParams.get("state");
if (urlState !== ssoState.value) {
  loginError = 'the given "state" parameter does not match the expected value';
}

if (loginError === null) {
  ssoState.set(null);
  const token = await getAccessToken(code!);
  const userInfo = await getUserInfo(token.accessToken);
  if (userInfo) {
    console.log(
      `${userInfo.first_name} ${userInfo.last_name} (${userInfo.oi}, ${userInfo.cid}) has logged in`,
    );
    jwt = await createJwt(token.accessToken, userInfo);
  } else {
    loginError = "Your login to the site was blocked.";
  }
}
---

<Main title="OAuth callback">
  {
    loginError === null ? (
      <>
        <h2 class="text-center text-2xl pt-4">Log in successful</h2>
        <h3 class="text-center text-xl pt-10">Redirecting ...</h3>
        <input class="hidden" type="text" id="jwt" value={jwt} />
      </>
    ) : (
      <>
        <p class="text-center text-2xl pt-6 text-red-500">
          Something went wrong: {loginError}
        </p>
        <p class="text-center text-xl pt-10">
          You can try again, but you'll probably need to notify the WM in
          Discord or{" "}
          <a href="mailto:wm@zdvartcc.org" class="underline text-blue-300">
            email
          </a>
          .
        </p>
      </>
    )
  }
</Main>

<script>
  const jwt = (document.getElementById("jwt") as HTMLInputElement).value;
  if (jwt) {
    localStorage.setItem("jwt", jwt);
    setTimeout(() => {
      window.location.href = "/";
    }, 1000);
  }
</script>
